/* base */
* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: #F7F9FC;
    color: #222;
}

/* Table */
.main-table {
    /* margin-top:50px; */
    width: 100vw;
    /* margin:50px;
    padding: 20px; */
    /* background-color: #fff; */
    /* border-radius: 1rem; */
    /* -webkit-box-shadow: 0px 10px 13px -7px grey, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px grey, 5px 5px 15px 5px rgba(0,0,0,0); */
}


th {
    cursor: pointer;
    font-weight: 400;
    text-align: center;
}



/* FIXED TABLE HEADER  */
.tableFixHead {
    overflow-y: auto;
    /* height: 700px; */
}

.tableFixHead thead th {
    position: sticky;
    top: -1;
}







/* TH CLASSES  */

th:first-child,
td:nth-child(2) {
    position: sticky;
    left: 0px;
    /* background-color:white; */
}


.th-total-small {
    background-color: black;
}

.th-season-year {
    font-weight: bold;
}

.th-season-label {
    color: gray;
}

.th-season-loss {
    color: red;
}

.th-season-win {
    color: green;
}

.th-seasons-l {
    border-right: gray 1px solid;
}


/* TD CLASSES */

.td-join-id {
    font-size: .8em;
}

.td-join-year {
    font-weight: bold;
    font-size: .8em;
}


.td-active {
    font-size: 10px;
    color: green;
    font-weight: bold;
}

.td-season-w {
    text-align: center;
}

.td-season-l {
    border-right: gray 1px solid;
    text-align: center;
}

.td-sea {
    text-align: center;
}
.td-seasons {
    text-align: center;
}

.td-playoffs {
    text-align: center;
}

.td-finals {
    text-align: center;
}

.td-titles {
    text-align: center;
}

.td-total-w {
    text-align: center;
}

.td-total-l {
    text-align: center;
}

.td-last {
    text-align: center;
}

.td-win-perc {
    text-align: center;
}

.td-hof {
    text-align: center;
}
.td-rank {
    text-align: center;
}



/* SORT */
table.ex-2 {
    min-width: 100px;
}


th.no-sort,
th.no-sort:hover {
    cursor: not-allowed;
}

th.sorted.ascending:after {
    content: "  \2191";
}

th.sorted.descending:after {
    content: " \2193";
}

.disabled {
    opacity: 0.5;
}


.trophies-flex {
    display: flex;
    /* flex-direction: column; */
}
.trophy-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
