* {
    font-family: 'Inter', sans-serif;
}

body {
    font: normal 14px/21px Verdana, serif;
    /* background-color: #231f20; */
    background: #EDEEF0;
    /* 434752 */
    color: #333;
}
.container-fluid {
    margin:0;
    padding:0px;
}

.navbar {
    color:white;
    /* background: #057af0; */
    background-color: #2c2e43;
}

.navbar-brand {
    font-family: 'Bebas Neue', cursive;
    color:white;  
}


/* subnav */

.nav {
    background-color: #f04349;
    -webkit-box-shadow: 0px 10px 13px -7px grey, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px grey, 5px 5px 15px 5px rgba(0,0,0,0);
}
.subnav-icons {
    height:1rem;
    color:white;
    /* background-color: white;; */
}

.legend-icons {
    height:.8rem;
    padding-right:10px;
    color:#333;
    /* background-color: white;; */
}

.legend-text {
    font-size: 8px;

}

table {
    width: 100%;
    font-size: 1em;
    border-collapse: collapse;
    margin: 0 auto;
    color: #eee;
}

table,
th,
td {
    font-size: 14px;
    border: 1px solid #fff;
    text-align: center;
    background: #fff;
    /* color:#eee; */
}

table.ex-2 {
    min-width: 100px;
}

th {
    color: #333333;
    background: #fff;

    cursor: pointer;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
}


th.no-sort,
th.no-sort:hover {
    cursor: not-allowed;
}

th.sorted.ascending:after {
    content: "  \2191";
}

th.sorted.descending:after {
    content: " \2193";
}

.disabled {
    opacity: 0.5;
}






/* th-classes */
.th-rank {}

.th-logo {
    text-align: center;
}

.th-manager {
    text-align: left;
}

.th-team-name {
    text-align: left;
}

.th-trophys {
    background: white !important;
}

.th-awards {
    background: white !important;
}

/* td-classes */
.td-manager {
    text-align: left;
    color: #333;
}

.td-join-order {
    font-size: 12px;
}

.td-team-name {
    text-align: left;
    font-size: 12px;
}

.td-team-year {
    font-size: 8px;
}

.td-season-year {
    font-size: 10px;
}

.td-rs-fin {
    text-align: center;
}

.td-awards {
    text-align: left;
}


/* FIXED TABLE HEADER  */
.tableFixHead {
    overflow-y: auto;
    height: 700px;
}

.tableFixHead thead th {
    position: sticky;
    top: -1;
}






.header-icon {
    width: 50px;
}

.main-table-left{
    margin-top:50px;
    /* margin:50px; */
    padding: 10px;
    background-color: #fff;
    border-radius: 0px 1rem 1rem 0px;
    -webkit-box-shadow: 0px 10px 13px -7px grey, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px grey, 5px 5px 15px 5px rgba(0,0,0,0);
}

.main-table {
    /* margin-top:50px; */
    margin:50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 10px 13px -7px grey, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px grey, 5px 5px 15px 5px rgba(0,0,0,0);
}

.main-table-far-right{
    width:280px;
    margin-top:50px;
    /* margin:50px; */
    padding: 10px;
    background-color: #fff;
    border-radius: 1rem 0rem 0rem 1rem;
    -webkit-box-shadow: 0px 10px 13px -7px grey, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px grey, 5px 5px 15px 5px rgba(0,0,0,0);
}




a {
    color: white;
}

.icon {
    height: 14px;
}


.table-text {
    padding-left: 20px;
    font-weight: 100;
    /* font-style: italic; */
    font-size: 10px;
}

.legend-text {
    cursor: pointer;
    font-size: 13px;
}

.legend-wrapper {
    /* padding: 2px; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 100px;
}

.legend-table {
    padding: 0px 0px 10px 0px;
    /* display: flex; */
    /* width: 40vw; */
    border-top: white 1px solid;
}

.accolades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color:red; */
}

.d-flex {
    display: flex;
    justify-content: space-around;
}

.tester {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    /*  */
}


.th-total-small {
    background-color: black;
}


.logo-icons {
    height: 1rem;
    width: 1rem;
    /* background-color:red; */
}

.text-team-name {
    color: 333;
}

.sectionright {
    padding: 0px;
    margin-left:50px;
    /* width: 500px; */
}

.tc-top{ 
    display: flex;
    flex-direction: column;
align-items: center;
}

.tc-r {
    width: 250px;
    padding:5px;
    margin-right: 10px;
}

.tc-l {
    padding:5px;
    width: 250px;
    margin-left: 10px;
    
}


.tc-team-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.tc-jy-label {
    font-style: italic;
    font-size: .5rem;
    font-weight: normal;
}


.tc-hof-req {
    display: flex;
    flex-direction: column;
    /* padding: 40px; */
    
}



.tc-label {
    font-size: .8rem;
    font-style: italic;
    /* color:#333; */
}

.tc-hof-label {
    font-size: .6rem;
    /* font-style: italic; */
}

.tc-logo {
    /* height: 3rem; */
    padding: 20px;
    border-radius: 100px;
}

.flex-split { 
    display: flex;
    justify-content: space-between;
    padding:3px;
}

.parent {
    /* width:500px; */
    /* height:500px; */
    display: flex;
    justify-content: space-between;
}

.trophy-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right:10px;
}

.tc-top {
    display: flex;
}

.tc-stats {
    color:#333333;
    text-align:center;
    padding-bottom: 10px;
}
.tc-stats-label {
    text-align: center;
    color: #333;
    background-color: #EDEEF0;
    border-bottom: 1px solid rgb(214, 214, 214);
}


.threecolflex{
    display: flex;
    justify-content: space-around;
    margin-right:10px;

}

.threecolflex-1 {
    padding-right:10px;
    width:100px;
}
.threecolflex-2 {
    padding-right:10px;
    width:100px;
}
.threecolflex-3 {
    padding-right:10px;
    width:100px;
}



.progbar-done {
    border: 2px solid gold;
    background: #76e9b5;
    color:#333;
}

.progbar-empty {
    /* border: 2px solid gold; */
    background: #f04349;
    color:#fff;
}


.trophy-icons {
    height: 1rem;
}

.tc-uni {
    height: 50px;
    padding:10px;
border-radius: 4px;
}
.trophy-year-label {
    font-size:10px;
}

.main-flexer {
    display: flex;
    justify-content: space-between;
}
.legend-label {
    font-size: 10px;
    padding-top: 10px;
}
.nav-legend {
    color:#333;
    background-color: #EDEEF0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding:10px;
    /* text-align: right; */
}

.sb-th {
    background-color: #EDEEF0;
    color:#333;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.sb-table-label {
    color:#fff;
    font-size:12px; 
    font-weight: bold;
    background-color:#f04349;
    /* margin-bottom:10px; */
    text-align: center;
}
.sb-td-logo {
height:1rem;
}

.sb-td {
    color:#333;
    font-size:12px;
    text-align: left;
}
.sb-td-sm {
    font-size:8px;
    color:#333;
    text-align: left;
}
.sb-td-sm-year {
    font-size:10px;
    background-color: #2c2e43;
    color: #fff;
    ;
}
.sb-td-year {
    font-style: italic;
    color:grey;
    
}
.sb-td-rank {
    /* font-style: italic; 
    text*/
    text-align: center;
    color:grey;
    
}

.sb-table {
width:100%
}

.far-right-main-label {
    font-weight:bold;
    color:#2c2e43;
}
.smallest-icons {
    height:10px;
}
.footer {
    /* border-top:#f04349 solid 10px; */
    background-color: #2c2e43;
}
.footer-flex {
    padding-top:50px;
    border-top:#f04349 solid 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2e43;
}
.footer-icon {
    height:5rem;
}

.footer-text {
    font-size:1rem;
    font-weight: bold;
    color:#fff;
    text-align:center;
}

.footer-text-sm {

    text-align:center;
    font-size:.8rem;
    /* font-weight: bold; */
    color:#fff;
}