* {
    font-family: 'Inter', sans-serif;
}
body {
    font: normal 14px/21px Arial, serif;
    /* background-color: #231f20; */
    background: #1c1e2b;
    /* 434752 */
    color:#eee;
}


table {
    width: 100%;
    font-size: 1em;
    border-collapse: collapse;
    margin: 0 auto;
    color:#eee;
}
table, th, td {
    font-size: 14px;
    border: 1px solid #475357;
    text-align: center;
    color:#eee;
}
table.ex-2 {
    min-width: 100px;
}
th {
    color: #31393c;
    background: #fff;

    cursor: pointer;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
}

th:hover,
th.sorted {
    /* background: white;
    color: #31393c;  */
    
}

th.no-sort,
th.no-sort:hover {
    /* background: red; */
    cursor: not-allowed;
}

th.sorted.ascending:after {
    content: "  \2191";
}

th.sorted.descending:after {
    content: " \2193";
}

.disabled {
    opacity: 0.5;
}






/* th-classes */
.th-rank {}
.th-logo {text-align: center;}
.th-manager {text-align: left;}
.th-team-name{text-align: left;}
.th-trophys{background: white !important;}
.th-awards{background: white !important;}

/* td-classes */
.td-manager {text-align: left;}
.td-join-order{font-size: 12px;}
.td-team-name {text-align: left;
font-size: 12px;}
.td-team-year {font-size: 8px;}
.td-season-year {font-size: 10px;}
.td-rs-fin {text-align: center;}
.td-awards  {text-align: left;}


/* FIXED TABLE HEADER  */
.tableFixHead {
    overflow-y: auto;
    height: 700px;
}

.tableFixHead thead th {
    position: sticky;
    top: -1;
}

.trophy-case {
    width: 200px;
    /* text-align: center; */
}

.shelf-gold {
    text-align: left;
}

.shelf-silver { text-align: left;
height:30px;}

.shelf-bronze { text-align: left;height:30px}

.shelf-forth { text-align: left;height:30px}

.shelf-playoffs { text-align: left;height:30px}

.shelf-awards { text-align: left;height:30px}



   .new-manager {
       padding-left: 10px;
       padding-right: 40px;
   }
   h5 {
    font-family: 'Bebas Neue', cursive;
       font-size: 24px;
       letter-spacing: 1px;
       text-align: left;
       font-weight: 700;
   }
   h6 {
           /* font-family: 'Bebas Neue', cursive; */
    font-size: 14px;
    text-align: left;
    font-weight: 700;
}

   .vert-flex {
       display: flex;
    flex-direction: column;
   }

   .horz-flex {
       display: flex;
   }

   .trophy-case-font {
    font-size: 10px;
    padding-left:5px;
    }
    
   .trophy-case-icon {font-size: 20px;}
   .trophy-case-flex {
       justify-content: space-between;

   }


   .main-logo {
 display: flex;
 justify-content: flex-end;
/* max-width:20px; */
}

.main-img {
    /* display: flex; */
    /* justify-content: flex-end; */
   max-width:100px;
   }


   .footer-flex {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   .footer-icon {
width:100px;
}


.footer-text {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
}

.header-icon {
    width:50px;
    }

/* .main-table {
    padding:80px; 
    display: flex;
    align-items: center;
    justify-content: center;
  
} */

.testy {
    padding:80px; 
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.lefty {
    /* display: flex; */
   padding:10px;
    
}
.header-icon {
    width:150px;
}



.navbar {
    color:white;
    background: #057af0;
}

.navbar-brand {
    font-family: 'Bebas Neue', cursive;
    color:white;
    
}


a { 
    color:white;

}

/* a:visited{ 
    color: #31393c; 
} */

a:hover { 
    /* color: gold;  */
    
}

.nav-icons {height: 40px;}
.icon{height: 14px;}


.color-white {
    color: white;
}



.table-text 
 {
     padding-left: 20px;
     font-weight: 100;
     /* font-style: italic; */
     font-size: 10px;
 }

 .legend-text  
{
    cursor: pointer;
font-size: 13px;
}

.legend-wrapper {
    /* padding: 2px; */
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    align-items: flex-end;
    padding-right:100px;
}

.legend-table {
    padding: 0px 0px 10px 0px;
    /* display: flex; */
    /* width: 40vw; */
    border-top: white 1px solid;
}

.accolades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color:red; */
}

.d-flex {
    display: flex;
    justify-content: space-around;
}

.tester {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    /*  */
}


/* Shelf (Works best in Webkit) */
.shelf {
	position: relative;
	width: 100%;
	border-bottom: 13px solid #24252a;
	text-align: center;
	padding: 0 27px;
  margin: 20px auto;
  background: transparent;
}

.shelf:after {
	position: absolute;
	bottom: -13px;
	left: 34px;
	height: 10px;
	background: transparent;
	content: "";
	-webkit-transform: perspective( 150 ) rotateX( -25deg );
	   -moz-transform: perspective( 150 ) rotateX( -25deg );
	    -ms-transform: perspective( 150 ) rotateX( -25deg );
	        transform: perspective( 150 ) rotateX( -25deg );
	right: 34px;
	box-shadow: 0 0 17px 5px rgba(0, 0, 0, 0.7);
	z-index: -1;
}

	.shelf > div {
		border-bottom: 23px solid #303138;
		position: relative;
		z-index: 1;
	}
	
	.shelf > div:before {
	  content: '';
	  width: 0px;
	  height: 0px;
	  border-style: solid;
	  border-width: 0 0 23px 27px;
	  border-color: transparent transparent #303138 transparent;
	  position: absolute;
	  bottom: -23px;
	  left: -27px;
	  z-index: 2;
	  -webkit-transform:rotate(360deg);
	  -moz-transform:rotate(360deg);
	  transform:rotate(360deg);
	}
	
	.shelf > div:after {
	  content: '';
	  width: 0px;
	  height: 0px;
	  border-style: solid;
	  border-width: 23px 0 0 27px;
	  border-color: transparent transparent transparent #303138;
	  position: absolute;
	  bottom: -23px;
	  right: -27px;
	  z-index: 2;
	}
	
		.shelf > div > * {
			position: relative;
			z-index: 2;
			top: 18px;
		}


.tc_w {
    /* color: #40916c; */
}
        .tc_l {
        }

        .lefty {
            /* width:100px; */
            padding-right:30px;
        }

        .righty {
            padding-left:30px;
        }

        .col-stats {
            padding: 20px;
        }
        .col-trophy {
            /* padding: 20px; */
        }


        .th-total-manager {
            text-align: left;
          
        }

        .td-total-manager {
            text-align: left;
        }

        .td-total-awards {

            text-align: left;
        }

        /* .th-manager{  border-bottom: white 2px solid;} */
        .th-total-hof {background: white !important;}
        .th-total-award {background: white !important;}
        .td-player-name {text-align: left;}
        .td-player-drafted-by {text-align: left;}

        .ic-pad {
            padding: 3px;
        }
        .ic-pad-sm {
            padding: 2px;
        }

        .td-total-jo {
            text-align: center;
        }

        #sidebarMenu {
            /* border-right: 1px solid #057af0; */
            /* background: #1c1e2b;
            background: #1c1e2b; */
            /* background-color: #231f20; */
            background: #1c1e2b;
            /* background: white; */
        }



        .navbar {
            background-color: #057af0;
            -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        }
        .nav-link {
            /* font-family: 'Bebas Neue', cursive;
            letter-spacing: 2px; */
            font-family: 'Inter', sans-serif;
            font-weight: 200;
        }


        #players_table {
            width:60%;
        }

        .legend-text{
            text-align:left ;
        }
        .legend-team-text{
            text-align:left ;
        }
        .legend-team-icon{
            text-align:left ;
        }

        .reg-sea {
            /* padding-left:10px; */
            font-style: italic;
            font-size: 10px;
            color:silver;
        }


        .card-wrapper {
            height: 80px;
            width:300px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 0 17px 5px rgba(0, 0, 0, 0.7);
            display: flex;
    justify-content: space-between;

        }
        .card-logo {
            position: absolute;
            padding: 10px;
            top: 123px;
            left: 123px;
        }
        .card-right {
            padding:15px;

        }

        .card-team-name {
            padding-left: 10px;
            padding-top:50px;
color:black;
        }

        .icon-team {
            position: absolute;
            padding: 10px;
            top: -10;
            left: 1px;
        }

        .ic-lg {
            padding-top:4px;
            font-size: 14px;
        }

        .times {
            font-size: 12px;
            font-style: italic;
        }


        .flex-col {
            display: flex;
            flex-direction: column;
        }





        /* new shelf */
        


#shelf {
width: 400px;
height: 71px;
margin: 50px auto;
position: relative;
}
.top {
width: 336px;
height: 100px;
/* background: 7px 0  url(http://us.123rf.com/400wm/400/400/mettus/mettus1002/mettus100200138/6476266-motif-de-la-planche-de-bois-obsolete.jpg) */
background-size: 88%;
position: absolute;
top: 0;
left: 32px;
transform: perspective(300px) rotateX(75deg);
box-shadow: inset 0 40px 130px -20px #16120d;
}
.front {
width: 400px;
height: 6px;
position: absolute;
bottom: 0 ;
box-shadow: inset 0 1px 1px 0 gold, inset 0 -2px 20px -2px #16120D;
}
.shadow {
width: 395px;
height: 6px;
position: absolute;
bottom: 0;
left: 5px;
box-shadow: 0 10px 20px -2px #1c1e2b;
}

.th-total-small {
    background-color: black;
}