

        .team-card-main {
            padding:5px 10px 0px 10px;
            box-shadow: 0 0 17px 5px rgba(0, 0, 0, 0.3);
            justify-content: space-between;
            /* border-radius: 5px; */
        }

        .card {
            border-radius: 10px;
        }


        .tb-white {
            border:1px solid #fff  !important;
            color:white !important;
        }

        .tb-blk {
            border:1px solid #000;
        }


        table, th, td {
            border:1px solid #fff;
        }

        .team-name-text { 
            text-align: right;
        }
        .est {
            font-style: italic;
            text-align: right;
            padding:0px;
            font-weight: 400;
            font-size:12px;
        }

        .card-body {
            /* box-shadow: 0 0 17px 5px rgba(0, 0, 0, 0.3); */
        }